<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商品列表</title>
</head>
<body>
{% for p in products  %}
	<div>
		<h2>{{ p.title }}</h2>
		{% if p.primary_image %}
			<img src="{{ p.primary_image.url }}" alt="{{ p.title }}" width="100px" height="100px" />
		{% endif %}
		{% if p.description %}
			<p>{{ p.description }}</p>
		{% endif %}
	</div>
{% endfor %}
</body>
</html>